[color]
    ui = true
[user]
#    name = First Last
#    email = first.last@email.com
[push]
    default = simple
[core]
    whitespace = trailing-space,space-before-tab
[gui]
    editor = vi
    historybrowser = gitg
    displayuntracked = true
[alias]
    ad = add -v
    lg = log --color --graph --pretty=format:'%Cred%h%Creset %C(bold blue)%an%Creset: %C(yellow)%d%Creset %s %Cgreen(%ar)' --abbrev-commit
    lga = log --color --graph --pretty=format:'%Cred%h%Creset %C(bold blue)%an%Creset: %C(yellow)%d%Creset %s %Cgreen(%ar)' --abbrev-commit --all
    out = log origin/master.. --oneline
    inc = log ..origin/master --oneline
    grp = grep --line-number --heading --break
    fet = fetch --all --progress
    st = status --short --branch -uno
    stat = status --short --branch
    vd = difftool -y -d
    ds = diff --stat
    ff = merge --ff-only
    puff = pull --ff-only
    co = checkout
    undo = checkout --
    rst = reset --hard
    mt = mergetool -y
    del = push origin --delete

[diff]
    tool = meld2
[difftool "meld2"]
    cmd = meld --diff $LOCAL $BASE

[merge]
    tool = meld3way
    conflictstyle = diff3
    defaultToUpstream = true
[mergetool "meld3way"]
    cmd = meld --diff $LOCAL $MERGED $REMOTE --diff $BASE $LOCAL --diff $BASE $REMOTE
[cola]
    fontdiff = Source Code Pro,10,-1,5,50,0,0,0,0,0
    tabwidth = 4
    linebreak = false

